<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">
<title>Route</title>
</head>
<body>
	<div align="center" style="max-width: 1000px; margin: 0 auto;"
		class="border border-secondary p-3 rounded">
		<div sec:authorize="isAuthenticated()" class="col-md-12 row">
			<div class="col-md-12 row">
				<div style="text-align: start" class="col-md-4">
					<input action="action" type="button" onclick="history.go(-1);"
						value="Back" />
				</div>
				<div style="text-align: center;" class="col-md-4">
					Welcome <b><span sec:authentication="name">Username</span></b>
					&nbsp;
				</div>
				<div style="text-align: end" class="col-md-4">
					<form th:action="@{/logout}" method="post">
						<input type="submit" value="Logout" />
					</form>
				</div>
			</div>
			<div class="row col-md-12" style="margin-top: 50px">
				<div class="border border-secondary p-3 rounded"
					style="text-align: end">
					<form th:action="@{/admin/route/add}" method="get">
						<input type="submit" value="Add Route" />
					</form>
				</div>
			</div>
			<div class="col-md-12 row">
				<div class="col-md-12">
					<h3>------List of Routes------</h3>
					<div class="border border-secondary p-3 rounded">
						<table border="1" cellpadding="10" style="width: 100%">
							<thead>
								<tr>
									<th>Point A</th>
									<th>Point B</th>
									<th>Distance</th>
									<th sec:authorize="hasAnyAuthority('ADMIN')">UPDATE</th>
									<th sec:authorize="hasAnyAuthority('ADMIN')">DELETE</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="route : ${listOfRoute}">
									<td th:text="${route.source.stationName}"></td>
									<td th:text="${route.destination.stationName}"></td>
									<td th:text="${route.distance}"></td>
									<td sec:authorize="hasAnyAuthority('ADMIN')">
										<div sec:authorize="hasAnyAuthority('ADMIN')">
											<a th:href="@{'/admin/route/edit/' + ${route.routeId}}">Edit</a>
										</div>
									</td>
									<td sec:authorize="hasAnyAuthority('ADMIN')">
										<div sec:authorize="hasAnyAuthority('ADMIN')">
											<a th:href="@{'/admin/route/delete/' + ${route.routeId}}"
												onclick="if (!(confirm('Are you sure you want to delete this route?'))) return false">Delete</a>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>