<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">
<title>Forgot Password</title>
</head>
<body>
	<div align="center">
		<form action="#" th:action="@{/user/forgotpassword}" method="post">
			<div style="max-width: 1000px; margin: 0 auto;">
				<div class="border border-secondary p-3 rounded">
					<h1>Forgot Password</h1>
					<p class="alert alert-danger" style="width: 70%"
						th:if="${questionAnswerError}">Question And Answer is wrong</p>
					<div class="form-group">
						<div class="row col-md-12" style="text-align: start;">
							<div class="col-md-3">
								<label for="firstName">Email Address:</label>
							</div>
							<div class="col-md-9">
								<input type="text" name="userName" class="form-control"
									placeholder="Enter Email Address">
								<p class="alert alert-danger" style="width: 70%"
									th:if="${emailError}">Enter valid Email</p>
								<p class="alert alert-danger" style="width: 70%"
									th:if="${userExists}">User is not present</p>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row col-md-12" style="text-align: start;">
							<div class="col-md-3">
								<label for="questionone">Security Question One</label>
							</div>
							<div class="col-md-9">
								<select name="securityQuestionOne">
									<option th:each="question : ${securityQuestions.entrySet()}"
										th:value="${question.key}" th:utext="${question.value}" />
								</select>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row col-md-12" style="text-align: start;">
							<div class="col-md-3">
								<label for="answerone">Answer One</label>
							</div>
							<div class="col-md-9">
								<input type="text" name="answerone" class="form-control "
									placeholder="Enter answer for Security Question one">
								<p class="alert alert-danger" style="width: 70%"
									th:if="${answerErrorOne}">Enter Answer</p>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row col-md-12" style="text-align: start;">
							<div class="col-md-3">
								<label for="questiontwo">Security Question Two</label>
							</div>
							<div class="col-md-9">
								<select name="securityQuestionTwo">
									<option th:each="question : ${securityQuestions.entrySet()}"
										th:value="${question.key}" th:utext="${question.value}" />
								</select>
								<p class="alert alert-danger" style="width: 70%"
									th:if="${securityQuestionError}">Both Question can not be
									same</p>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row col-md-12" style="text-align: start;">
							<div class="col-md-3">
								<label for="answertwo">Answer Two</label>
							</div>
							<div class="col-md-9">
								<input type="tel" name="answertwo" class="form-control "
									placeholder="Enter answer for Security Question Two">
								<p class="alert alert-danger" style="width: 70%"
									th:if="${answerErrorTwo}">Enter Answer</p>
							</div>
						</div>
					</div>
					<div class="form-group" style="text-align: center;">
						<button type="submit" class="btn btn-info col-4">Submit</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</body>
</html>