<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">
<title>Station</title>
</head>
<body>
	<div align="center">
		<div style="max-width: 1000px; margin: 0 auto;">
			<div class="border border-secondary p-3 rounded">
				<div sec:authorize="isAuthenticated()" class="col-md-12 row">
					<div style="text-align: start" class="col-md-4">
						<form th:action="@{/admin/home}" method="get">
							<input type="submit" value="Back" />
						</form>
					</div>
					<div style="text-align: center;" class="col-md-4">
						Welcome <b><span sec:authentication="name">Username</span></b>
						&nbsp;
					</div>
					<div style="text-align: end" class="col-md-4">
						<form th:action="@{/logout}" method="post">
							<input type="submit" value="Logout" />
						</form>
					</div>
					<div class="row col-md-12" style="margin-top: 50px">
						<div class="col-md-12">
							<div class="border border-secondary p-3 rounded"
								style="text-align: end">
								<form th:action="@{/admin/station/add}" method="get">
									<input type="submit" value="Add Station" />
								</form>
							</div>
						</div>
					</div>
					<div class="row col-md-12">
						<div class="col-md-12">
							<h3>------List of Station------</h3>
							<div class="border border-secondary p-3 rounded">
								<table border="1" cellpadding="10" style="width: 100%">
									<thead>
										<tr>
											<th>Station Name</th>
											<th>Station Code</th>
											<th>Station City</th>
											<th>Station State</th>
											<th sec:authorize="hasAnyAuthority('ADMIN')">UPDATE</th>
											<th sec:authorize="hasAnyAuthority('ADMIN')">DELETE</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="station : ${listOfStation}">
											<td th:text="${station.stationName}">Station Name</td>
											<td th:text="${station.stationCode}">Station Code</td>
											<td th:text="${station.stationCity}">Station City</td>
											<td th:text="${station.stationState}">Student State</td>
											<td sec:authorize="hasAnyAuthority('ADMIN')">
												<div sec:authorize="hasAnyAuthority('ADMIN')">
													<a
														th:href="@{'/admin/station/edit/' + ${station.stationId}}">Edit</a>
												</div>
											</td>
											<td sec:authorize="hasAnyAuthority('ADMIN')">
												<div sec:authorize="hasAnyAuthority('ADMIN')">
													<a
														th:href="@{'/admin/station/delete/' + ${station.stationId}}"
														onclick="if (!(confirm('Are you sure you want to delete this employee?'))) return false">Delete</a>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>