<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">
<title>Select Tickets</title>
</head>
<body>
	<div align="center">
		<div style="max-width: 1000px; margin: 0 auto;">
			<div class="border border-secondary p-3 rounded">
				<div class="col-md-12 row">
					<div class="col-md-12 row">
						<div style="text-align: start" class="col-md-4">
							<input action="action" type="button" onclick="history.go(-1);"
								value="Back" />
						</div>
						<div style="text-align: start" class="col-md-4">
							Welcome <b><span sec:authentication="name">Username</span></b>
						</div>
						<div style="text-align: end" class="col-md-4">
							<form th:action="@{/logout}" method="post">
								<input type="submit" value="Logout" />
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-12 row">
					<div class="border border-secondary p-3 rounded"
						style="width: 930px">
						<div class="row col-md-12" style="margin-top: 50px">
							<form th:action="@{/ticket/delete}" method="post">
								<table border="1" cellpadding="10" style="width: 100%">
									<thead>
										<tr>
											<th></th>
											<th>First Name</th>
											<th>Last Name</th>
											<th>Gender</th>
											<th>Age</th>
											<th>Berth Preference</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="info, stat : ${passengerInformationList}">
											<td><input type="checkbox" name="mycheckbox"
												th:checked="${flag}" data-target="requests-all"
												th:value="${info.passengerInformationId}"
												th:name="idChecked" /></td>
											<td th:text="${info.firstName}"></td>
											<td th:text="${info.lastName}"></td>
											<td th:text="${info.gender}"></td>
											<td th:text="${info.age}"></td>
											<td th:text="${info.berthPreference}"></td>
										</tr>
									</tbody>
								</table>
								<button type="submit">Cancel Tickets</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
